*{
    font-family: 'Pacifico', cursive;
    text-align: justify;
    color: #000000;
    font-size: 20px;
    line-height: 120%;
    margin: 30px;
    background: f5f5dc;
  }

  .titulo1{
    font-family: 'Pacifico', cursive;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: ;
    color: #ff8c00;
  }

  .container{
      width: 95%;
      height: 18em;
      border: black 1px solid;
      display: flex;
      background-image: url(bolo\ de\ milho.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;  
  }

  .acesso{
    background:transparent;
  }

  .autor{
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
  }
  
  .lista{
    line-height: 0;
  }

  .titulo2{
    color:#ff8c00;
    font-size: 24px;
    font-weight: 700;
  }